.dots .ellipse-23 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-21 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-22 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-20 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-363 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .frame-22 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.dots .ellipse-25 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-26 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-24 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-19 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-362 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .frame-23 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.dots .ellipse-29 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-30 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-28 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-191 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-361 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .frame-24 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.dots .ellipse-33 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-34 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-32 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-192 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-36 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .frame-25 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.dots .ellipse-331 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-341 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-321 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-193 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  margin-right: 16px;
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .ellipse-364 {
  border-radius: 2px;
  background: var(--gray, #ABB2BF);
  height: 4px;
  flex-grow: 1;
  flex-basis: 4px;
}
.dots .frame-26 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
