.figma-banner .union {
  width: 45px;
  height: 45px;
}
.figma-banner .logo {
  margin: 9px 23px 9px 0;
  display: flex;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.figma-banner .elias {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.figma-banner .group-56 {
  margin: 0 0.4px 13px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.figma-banner .front-end-developer {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 500;
  font-size: 36px;
  color: var(--primary, #C778DD);
}
.figma-banner {
  background: var(--background, #282C33);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 124px 0 113px 0;
  width: 2560px;
  box-sizing: border-box;
}
