.state-default-2 .container {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 16px;
  color: var(--primary, #C778DD);
}
.state-default-2 .home {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 400;
  font-size: 16px;
  color: var(--gray, #ABB2BF);
}
.state-default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
