.state-active .container {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 500;
  font-size: 16px;
  color: var(--primary, #C778DD);
}
.state-active .home {
  overflow-wrap: break-word;
  font-family: 'Fira Code';
  font-weight: 500;
  font-size: 16px;
  color: var(--white, #FFFFFF);
}
.state-active {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
